@import './base.css';

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bs-light-bg-subtle);
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 14px
    }
}